In [27]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("eoinamoore/historical-nba-data-and-player-box-scores")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\nmall\.cache\kagglehub\datasets\eoinamoore\historical-nba-data-and-player-box-scores\versions\366

In [28]:
import pandas as pd

def load_and_process_data(file_path):
    # Load data from CSV file
    df = pd.read_csv("C:\\Users\\nmall\\.cache\\kagglehub\\datasets\\eoinamoore\\historical-nba-data-and-player-box-scores\\versions\\366\\" + file_path)
    
    # Display the first few rows of the dataframe
    print("Initial Data:")
    print(df.head())
    
    # Check for missing values
    missing_values = df.isnull().sum()
    print("\nMissing Values in Each Column:")
    print(missing_values)
    
    # Fill missing values with the mean of the column (for numerical columns)
    for column in df.select_dtypes(include=['float64', 'int64']).columns:
        df[column].fillna(df[column].mean(), inplace=True)
    
    # Convert categorical columns to category type
    for column in df.select_dtypes(include=['object']).columns:
        df[column] = df[column].astype('string')
    
    # Display the processed dataframe info
    print("\nProcessed Data Info:")
    print(df.info())
    
    return df
gamesInfo = load_and_process_data('Games.csv')
playersInfo = load_and_process_data('Players.csv')
playersStats = load_and_process_data('PlayerStatistics.csv')
TeamStatistics = load_and_process_data('TeamStatistics.csv')

C:\Users\nmall\AppData\Local\Temp\ipykernel_31520\2361997686.py:5: DtypeWarning: Columns (12,14,18,19,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("C:\\Users\\nmall\\.cache\\kagglehub\\datasets\\eoinamoore\\historical-nba-data-and-player-box-scores\\versions\\366\\" + file_path)
C:\Users\nmall\AppData\Local\Temp\ipykernel_31520\2361997686.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].mean(), inplace=True)

Initial Data:
     gameId      gameDateTimeEst hometeamCity hometeamName  hometeamId  \
0  22500739  2026-02-05 22:00:00      Phoenix         Suns  1610612756
1  22500740  2026-02-05 22:00:00  Los Angeles       Lakers  1610612747
2  22500738  2026-02-05 20:30:00       Dallas    Mavericks  1610612742
3  22500737  2026-02-05 20:00:00      Houston      Rockets  1610612745
4  22500736  2026-02-05 19:30:00      Toronto      Raptors  1610612761

   awayteamCity awayteamName  awayteamId  homeScore  awayScore  ...  \
0  Golden State     Warriors  1610612744         97        101  ...
1  Philadelphia        76ers  1610612755        119        115  ...
2   San Antonio        Spurs  1610612759        123        135  ...
3     Charlotte      Hornets  1610612766         99        109  ...
4       Chicago        Bulls  1610612741        123        107  ...

   gameSubtype gameLabel gameSubLabel seriesGameNumber attendance  arenaId  \
0          NaN       NaN          NaN              NaN    17071.0  1000159
1          NaN       NaN          NaN              NaN    18731.0  1000069
2          NaN       NaN          NaN              NaN    19413.0      193
3          NaN       NaN          NaN              NaN    18055.0      215
4          NaN       NaN          NaN              NaN    18795.0      643

                  arenaName    arenaCity arenaState  \
0   Mortgage Matchup Center      Phoenix         AZ
1          Crypto.com Arena  Los Angeles         CA
2  American Airlines Center       Dallas         TX
3             Toyota Center      Houston         TX
4          Scotiabank Arena      Toronto         ON

                                      officials
0       Marc Davis, Natalie Sago, Brandon Adair
1  JB DeRosa, Jason Goldenberg, Jenna Schroeder
2    Eric Dalen, James Williams, Danielle Scott
3         Ed Malloy, Dedric Taylor, John Conley
4         James Capers, Marat Kogut, Matt Myers

[5 rows x 22 columns]

Missing Values in Each Column:
gameId                  0
gameDateTimeEst         0
hometeamCity            0
hometeamName            0
hometeamId              0
awayteamCity            0
awayteamName            0
awayteamId              0
homeScore               0
awayScore               0
winner                  0
gameType                0
gameSubtype         72645
gameLabel           68774
gameSubLabel        72488
seriesGameNumber    66981
attendance          71882
arenaId                 0
arenaName           71879
arenaCity           71879
arenaState          71888
officials           71879
dtype: int64

Processed Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72719 entries, 0 to 72718
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gameId            72719 non-null  int64
 1   gameDateTimeEst   72719 non-null  string
 2   hometeamCity      72719 non-null  string
 3   hometeamName      72719 non-null  string
 4   hometeamId        72719 non-null  int64
 5   awayteamCity      72719 non-null  string
 6   awayteamName      72719 non-null  string
 7   awayteamId        72719 non-null  int64
 8   homeScore         72719 non-null  int64
 9   awayScore         72719 non-null  int64
 10  winner            72719 non-null  int64
 11  gameType          72719 non-null  string
 12  gameSubtype       74 non-null     string
 13  gameLabel         3945 non-null   string
 14  gameSubLabel      231 non-null    string
 15  seriesGameNumber  72719 non-null  float64
 16  attendance        72719 non-null  float64
 17  arenaId           72719 non-null  int64
 18  arenaName         840 non-null    string
 19  arenaCity         840 non-null    string
 20  arenaState        831 non-null    string
 21  officials         840 non-null    string
dtypes: float64(2), int64(7), string(13)
memory usage: 12.2 MB
None
Initial Data:
   Unnamed: 0   personId firstName    lastName  birthDate      school country  \
0           0  196294611  Olivinha         NaN        NaN         NaN     NaN
1           1      43217  Olivinha         NaN        NaN         NaN     NaN
2           2  196294534   Alberto      Abalde        NaN         NaN     NaN
3           3      76001      Alaa   Abdelnaby        NaN        Duke     USA
4           4      76002      Zaid  Abdul-Aziz        NaN  Iowa State     USA

   heightInches  bodyWeightLbs  guard  forward  center  draftYear  draftRound  \
0           NaN            NaN    NaN      NaN     NaN        NaN         NaN
1           NaN            NaN    NaN      NaN     NaN        NaN         NaN
2           NaN            NaN    NaN      NaN     NaN        NaN         NaN
3          82.0          240.0    0.0      1.0     0.0     1990.0         1.0
4          81.0          235.0    0.0      0.0     1.0     1968.0         1.0

   draftNumber jerseyNumber  isActive  fromYear  toYear
0          NaN          NaN       NaN       NaN     NaN
1          NaN          NaN       NaN       NaN     NaN
2          NaN          NaN       NaN       NaN     NaN
3         25.0           30       0.0    1990.0  1994.0
4          5.0           54       0.0    1968.0  1977.0

Missing Values in Each Column:
Unnamed: 0          0
personId            0
firstName           1
lastName            2
birthDate        6681
school           1579
country          1469
heightInches     1626
bodyWeightLbs    1635
guard            1331
forward          1331
center           1331
draftYear        1644
draftRound       1806
draftNumber      1865
jerseyNumber     1900
isActive         1579
fromYear         1579
toYear           1579
dtype: int64

Processed Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6681 entries, 0 to 6680
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     6681 non-null   int64
 1   personId       6681 non-null   int64
 2   firstName      6680 non-null   string
 3   lastName       6679 non-null   string
 4   birthDate      0 non-null      float64
 5   school         5102 non-null   string
 6   country        5212 non-null   string
 7   heightInches   6681 non-null   float64
 8   bodyWeightLbs  6681 non-null   float64
 9   guard          6681 non-null   float64
 10  forward        6681 non-null   float64
 11  center         6681 non-null   float64
 12  draftYear      6681 non-null   float64
 13  draftRound     6681 non-null   float64
 14  draftNumber    6681 non-null   float64
 15  jerseyNumber   4781 non-null   string
 16  isActive       6681 non-null   float64
 17  fromYear       6681 non-null   float64
 18  toYear         6681 non-null   float64
dtypes: float64(12), int64(2), string(5)
memory usage: 991.8 KB
None

C:\Users\nmall\AppData\Local\Temp\ipykernel_31520\2361997686.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].mean(), inplace=True)
C:\Users\nmall\AppData\Local\Temp\ipykernel_31520\2361997686.py:5: DtypeWarning: Columns (10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("C:\\Users\\nmall\\.cache\\kagglehub\\datasets\\eoinamoore\\historical-nba-data-and-player-box-scores\\versions\\366\\" + file_path)

Initial Data:
    firstName   lastName  personId    gameId      gameDateTimeEst  \
0       Royce    O'Neale   1626220  22500739  2026-02-05 22:00:00
1        Gary  Payton II   1627780  22500739  2026-02-05 22:00:00
2      Dillon     Brooks   1628415  22500739  2026-02-05 22:00:00
3     Grayson      Allen   1628960  22500739  2026-02-05 22:00:00
4  De'Anthony     Melton   1629001  22500739  2026-02-05 22:00:00

  playerteamCity playerteamName opponentteamCity opponentteamName  \
0        Phoenix           Suns     Golden State         Warriors
1   Golden State       Warriors          Phoenix             Suns
2        Phoenix           Suns     Golden State         Warriors
3        Phoenix           Suns     Golden State         Warriors
4   Golden State       Warriors          Phoenix             Suns

         gameType  ... threePointersPercentage freeThrowsAttempted  \
0  Regular Season  ...                   0.500                 0.0
1  Regular Season  ...                   0.500                 0.0
2  Regular Season  ...                   0.333                 3.0
3  Regular Season  ...                   0.385                 2.0
4  Regular Season  ...                   0.222                 4.0

   freeThrowsMade  freeThrowsPercentage  reboundsDefensive  reboundsOffensive  \
0             0.0                 0.000                1.0                0.0
1             0.0                 0.000                5.0                3.0
2             2.0                 0.667                5.0                1.0
3             2.0                 1.000                4.0                1.0
4             3.0                 0.750                2.0                0.0

   reboundsTotal  foulsPersonal  turnovers  plusMinusPoints
0            1.0            1.0        1.0             -5.0
1            8.0            1.0        0.0              4.0
2            6.0            3.0        2.0             -6.0
3            5.0            1.0        3.0              4.0
4            2.0            1.0        2.0             21.0

[5 rows x 35 columns]

Missing Values in Each Column:
firstName                        0
lastName                         0
personId                         0
gameId                           0
gameDateTimeEst                  0
playerteamCity                   0
playerteamName                   0
opponentteamCity                 0
opponentteamName                 0
gameType                        50
gameLabel                  1554825
gameSubLabel               1643732
seriesGameNumber           1515048
win                             10
home                             0
numMinutes                  165430
points                        1219
assists                       1219
blocks                        1219
steals                        1219
fieldGoalsAttempted           1219
fieldGoalsMade                1219
fieldGoalsPercentage          1219
threePointersAttempted        1219
threePointersMade             1219
threePointersPercentage       1219
freeThrowsAttempted           1219
freeThrowsMade                1219
freeThrowsPercentage          1219
reboundsDefensive             1219
reboundsOffensive             1219
reboundsTotal                 1219
foulsPersonal                 1219
turnovers                     1219
plusMinusPoints               1219
dtype: int64

C:\Users\nmall\AppData\Local\Temp\ipykernel_31520\2361997686.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].mean(), inplace=True)

Processed Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1650096 entries, 0 to 1650095
Data columns (total 35 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   firstName                1650096 non-null  string
 1   lastName                 1650096 non-null  string
 2   personId                 1650096 non-null  int64
 3   gameId                   1650096 non-null  int64
 4   gameDateTimeEst          1650096 non-null  string
 5   playerteamCity           1650096 non-null  string
 6   playerteamName           1650096 non-null  string
 7   opponentteamCity         1650096 non-null  string
 8   opponentteamName         1650096 non-null  string
 9   gameType                 1650046 non-null  string
 10  gameLabel                95271 non-null    string
 11  gameSubLabel             6364 non-null     string
 12  seriesGameNumber         1650096 non-null  float64
 13  win                      1650096 non-null  float64
 14  home                     1650096 non-null  int64
 15  numMinutes               1650096 non-null  float64
 16  points                   1650096 non-null  float64
 17  assists                  1650096 non-null  float64
 18  blocks                   1650096 non-null  float64
 19  steals                   1650096 non-null  float64
 20  fieldGoalsAttempted      1650096 non-null  float64
 21  fieldGoalsMade           1650096 non-null  float64
 22  fieldGoalsPercentage     1650096 non-null  float64
 23  threePointersAttempted   1650096 non-null  float64
 24  threePointersMade        1650096 non-null  float64
 25  threePointersPercentage  1650096 non-null  float64
 26  freeThrowsAttempted      1650096 non-null  float64
 27  freeThrowsMade           1650096 non-null  float64
 28  freeThrowsPercentage     1650096 non-null  float64
 29  reboundsDefensive        1650096 non-null  float64
 30  reboundsOffensive        1650096 non-null  float64
 31  reboundsTotal            1650096 non-null  float64
 32  foulsPersonal            1650096 non-null  float64
 33  turnovers                1650096 non-null  float64
 34  plusMinusPoints          1650096 non-null  float64
dtypes: float64(22), int64(3), string(10)
memory usage: 440.6 MB
None
Initial Data:
     gameId      gameDateTimeEst      teamCity   teamName      teamId  \
0  22500739  2026-02-05 22:00:00  Golden State   Warriors  1610612744
1  22500740  2026-02-05 22:00:00   Los Angeles     Lakers  1610612747
2  22500740  2026-02-05 22:00:00  Philadelphia      76ers  1610612755
3  22500739  2026-02-05 22:00:00       Phoenix       Suns  1610612756
4  22500738  2026-02-05 20:30:00        Dallas  Mavericks  1610612742

  opponentTeamCity opponentTeamName  opponentTeamId  home  win  ...  \
0          Phoenix             Suns      1610612756     0  1.0  ...
1     Philadelphia            76ers      1610612755     1  1.0  ...
2      Los Angeles           Lakers      1610612747     0  0.0  ...
3     Golden State         Warriors      1610612744     1  0.0  ...
4      San Antonio            Spurs      1610612759     1  0.0  ...

   leadChanges  pointsFastBreak  pointsFromTurnovers  pointsInThePaint  \
0          7.0             17.0                 13.0              22.0
1          1.0             18.0                 17.0              66.0
2          1.0             16.0                 24.0              66.0
3          7.0              9.0                 14.0              32.0
4          9.0             10.0                  6.0              54.0

   pointsSecondChance  timesTied  timeoutsRemaining  seasonWins  seasonLosses  \
0                13.0        7.0                0.0        28.0          24.0
1                11.0        1.0                0.0        31.0          19.0
2                 5.0        1.0                0.0        29.0          22.0
3                14.0        7.0                0.0        31.0          21.0
4                10.0        4.0                1.0        19.0          32.0

   coachId
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN

[5 rows x 48 columns]

Missing Values in Each Column:
gameId                          0
gameDateTimeEst                 0
teamCity                        2
teamName                        2
teamId                          0
opponentTeamCity                2
opponentTeamName                2
opponentTeamId                  0
home                            0
win                             2
teamScore                       0
opponentScore                   0
assists                     35089
blocks                      40703
steals                      41147
fieldGoalsAttempted         34308
fieldGoalsMade                 20
fieldGoalsPercentage        34389
threePointersAttempted      40790
threePointersMade           29858
threePointersPercentage     41497
freeThrowsAttempted          5098
freeThrowsMade                 22
freeThrowsPercentage         5104
reboundsDefensive           41479
reboundsOffensive           41332
reboundsTotal               34746
foulsPersonal                3994
turnovers                   40817
plusMinusPoints              1012
numMinutes                     10
q1Points                   141010
q2Points                   141010
q3Points                   141012
q4Points                   141012
benchPoints                141004
biggestLead                141004
biggestScoringRun          141004
leadChanges                141004
pointsFastBreak            141004
pointsFromTurnovers        141004
pointsInThePaint           141004
pointsSecondChance         141004
timesTied                  141004
timeoutsRemaining          141004
seasonWins                 141004
seasonLosses               141004
coachId                    145440
dtype: int64

C:\Users\nmall\AppData\Local\Temp\ipykernel_31520\2361997686.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].mean(), inplace=True)

Processed Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145440 entries, 0 to 145439
Data columns (total 48 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   gameId                   145440 non-null  int64
 1   gameDateTimeEst          145440 non-null  string
 2   teamCity                 145438 non-null  string
 3   teamName                 145438 non-null  string
 4   teamId                   145440 non-null  int64
 5   opponentTeamCity         145438 non-null  string
 6   opponentTeamName         145438 non-null  string
 7   opponentTeamId           145440 non-null  int64
 8   home                     145440 non-null  int64
 9   win                      145440 non-null  float64
 10  teamScore                145440 non-null  int64
 11  opponentScore            145440 non-null  int64
 12  assists                  145440 non-null  float64
 13  blocks                   145440 non-null  float64
 14  steals                   145440 non-null  float64
 15  fieldGoalsAttempted      145440 non-null  float64
 16  fieldGoalsMade           145440 non-null  float64
 17  fieldGoalsPercentage     145440 non-null  float64
 18  threePointersAttempted   145440 non-null  float64
 19  threePointersMade        145440 non-null  float64
 20  threePointersPercentage  145440 non-null  float64
 21  freeThrowsAttempted      145440 non-null  float64
 22  freeThrowsMade           145440 non-null  float64
 23  freeThrowsPercentage     145440 non-null  float64
 24  reboundsDefensive        145440 non-null  float64
 25  reboundsOffensive        145440 non-null  float64
 26  reboundsTotal            145440 non-null  float64
 27  foulsPersonal            145440 non-null  float64
 28  turnovers                145440 non-null  float64
 29  plusMinusPoints          145440 non-null  float64
 30  numMinutes               145440 non-null  float64
 31  q1Points                 145440 non-null  float64
 32  q2Points                 145440 non-null  float64
 33  q3Points                 145440 non-null  float64
 34  q4Points                 145440 non-null  float64
 35  benchPoints              145440 non-null  float64
 36  biggestLead              145440 non-null  float64
 37  biggestScoringRun        145440 non-null  float64
 38  leadChanges              145440 non-null  float64
 39  pointsFastBreak          145440 non-null  float64
 40  pointsFromTurnovers      145440 non-null  float64
 41  pointsInThePaint         145440 non-null  float64
 42  pointsSecondChance       145440 non-null  float64
 43  timesTied                145440 non-null  float64
 44  timeoutsRemaining        145440 non-null  float64
 45  seasonWins               145440 non-null  float64
 46  seasonLosses             145440 non-null  float64
 47  coachId                  0 non-null       float64
dtypes: float64(37), int64(6), string(5)
memory usage: 53.3 MB
None

In [29]:
playersStats.head(10)

,firstName,lastName,personId,gameId,gameDateTimeEst,playerteamCity,playerteamName,opponentteamCity,opponentteamName,gameType,...,threePointersPercentage,freeThrowsAttempted,freeThrowsMade,freeThrowsPercentage,reboundsDefensive,reboundsOffensive,reboundsTotal,foulsPersonal,turnovers,plusMinusPoints
0,Royce,O'Neale,1626220,22500739,2026-02-05 22:00:00,Phoenix,Suns,Golden State,Warriors,Regular Season,...,0.500,0.0,0.0,0.000,1.0,0.0,1.0,1.0,1.0,-5.0
1,Gary,Payton II,1627780,22500739,2026-02-05 22:00:00,Golden State,Warriors,Phoenix,Suns,Regular Season,...,0.500,0.0,0.0,0.000,5.0,3.0,8.0,1.0,0.0,4.0
2,Dillon,Brooks,1628415,22500739,2026-02-05 22:00:00,Phoenix,Suns,Golden State,Warriors,Regular Season,...,0.333,3.0,2.0,0.667,5.0,1.0,6.0,3.0,2.0,-6.0
3,Grayson,Allen,1628960,22500739,2026-02-05 22:00:00,Phoenix,Suns,Golden State,Warriors,Regular Season,...,0.385,2.0,2.0,1.000,4.0,1.0,5.0,1.0,3.0,4.0
4,De'Anthony,Melton,1629001,22500739,2026-02-05 22:00:00,Golden State,Warriors,Phoenix,Suns,Regular Season,...,0.222,4.0,3.0,0.750,2.0,0.0,2.0,1.0,2.0,21.0
5,Pat,Spencer,1630311,22500739,2026-02-05 22:00:00,Golden State,Warriors,Phoenix,Suns,Regular Season,...,0.600,2.0,2.0,1.000,5.0,1.0,6.0,2.0,4.0,-3.0
6,Moses,Moody,1630541,22500739,2026-02-05 22:00:00,Golden State,Warriors,Phoenix,Suns,Regular Season,...,0.286,0.0,0.0,0.000,8.0,0.0,8.0,1.0,1.0,4.0
7,Isaiah,Livers,1630587,22500739,2026-02-05 22:00:00,Phoenix,Suns,Golden State,Warriors,Regular Season,...,0.000,0.0,0.0,0.000,0.0,0.0,0.0,1.0,0.0,-8.0
8,Gui,Santos,1630611,22500739,2026-02-05 22:00:00,Golden State,Warriors,Phoenix,Suns,Regular Season,...,0.500,5.0,3.0,0.600,4.0,0.0,4.0,2.0,4.0,2.0
9,Jordan,Goodwin,1630692,22500739,2026-02-05 22:00:00,Phoenix,Suns,Golden State,Warriors,Regular Season,...,0.333,0.0,0.0,0.000,2.0,0.0,2.0,3.0,0.0,7.0

In [30]:
# count the values of gametype in PlayerStats
playersStats['gameType'].value_counts(dropna=False)

gameType
Regular Season        1490437
Playoffs                99840
Preseason               57118
NBA Emirates Cup         1759
Play-in Tournament        829
<NA>                       50
Emirates NBA Cup           30
NBA Cup                    28
in-season-knockout          5
Name: count, dtype: Int64

In [31]:
# take a look at what rows have gameType as null
playersStats[playersStats['gameType'].isnull()].tail(10)

,firstName,lastName,personId,gameId,gameDateTimeEst,playerteamCity,playerteamName,opponentteamCity,opponentteamName,gameType,...,threePointersPercentage,freeThrowsAttempted,freeThrowsMade,freeThrowsPercentage,reboundsDefensive,reboundsOffensive,reboundsTotal,foulsPersonal,turnovers,plusMinusPoints
11651,AJ,Johnson,1642358,22500334,2025-12-04 14:00:00,Washington,Wizards,Boston,Celtics,<NA>,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17427,Dorian,Finney-Smith,1627827,22500160,2025-11-03 20:00:00,Houston,Rockets,Dallas,Mavericks,<NA>,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17428,Fred,VanVleet,1627832,22500160,2025-11-03 20:00:00,Houston,Rockets,Dallas,Mavericks,<NA>,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17444,JD,Davison,1631120,22500160,2025-11-03 20:00:00,Houston,Rockets,Dallas,Mavericks,<NA>,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17446,Dereck,Lively II,1641726,22500160,2025-11-03 20:00:00,Dallas,Mavericks,Houston,Rockets,<NA>,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17448,Isaiah,Crawford,1642384,22500160,2025-11-03 20:00:00,Houston,Rockets,Dallas,Mavericks,<NA>,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17450,Miles,Kelly,1642939,22500160,2025-11-03 20:00:00,Dallas,Mavericks,Houston,Rockets,<NA>,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17454,Kyrie,Irving,202681,22500160,2025-11-03 20:00:00,Dallas,Mavericks,Houston,Rockets,<NA>,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17456,Anthony,Davis,203076,22500160,2025-11-03 20:00:00,Dallas,Mavericks,Houston,Rockets,<NA>,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17459,Dante,Exum,203957,22500160,2025-11-03 20:00:00,Dallas,Mavericks,Houston,Rockets,<NA>,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [32]:
# Any player stats with a null gameType are regular season games so we'll adjust accordingly
playersStats['gameType'].fillna('Regular Season', inplace=True)
playersStats['gameType'].value_counts(dropna=False)

C:\Users\nmall\AppData\Local\Temp\ipykernel_31520\1021499322.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  playersStats['gameType'].fillna('Regular Season', inplace=True)

gameType
Regular Season        1490487
Playoffs                99840
Preseason               57118
NBA Emirates Cup         1759
Play-in Tournament        829
Emirates NBA Cup           30
NBA Cup                    28
in-season-knockout          5
Name: count, dtype: Int64

In [33]:
RegSeasonPlayerStats = playersStats[playersStats['gameType'] == 'Regular Season']
RegSeasonPlayerStats.dtypes

firstName                  string[python]
lastName                   string[python]
personId                            int64
gameId                              int64
gameDateTimeEst            string[python]
playerteamCity             string[python]
playerteamName             string[python]
opponentteamCity           string[python]
opponentteamName           string[python]
gameType                   string[python]
gameLabel                  string[python]
gameSubLabel               string[python]
seriesGameNumber                  float64
win                               float64
home                                int64
numMinutes                        float64
points                            float64
assists                           float64
blocks                            float64
steals                            float64
fieldGoalsAttempted               float64
fieldGoalsMade                    float64
fieldGoalsPercentage              float64
threePointersAttempted            float64
threePointersMade                 float64
threePointersPercentage           float64
freeThrowsAttempted               float64
freeThrowsMade                    float64
freeThrowsPercentage              float64
reboundsDefensive                 float64
reboundsOffensive                 float64
reboundsTotal                     float64
foulsPersonal                     float64
turnovers                         float64
plusMinusPoints                   float64
dtype: object

In [42]:
# Add column representing the season for each row in RegSeasonPlayerStats
RegSeasonPlayerStats['month'] = RegSeasonPlayerStats['gameDateTimeEst'].str[5:7]
RegSeasonPlayerStats['year'] = RegSeasonPlayerStats['gameDateTimeEst'].str[0:4]
RegSeasonPlayerStats['day'] = RegSeasonPlayerStats['gameDateTimeEst'].str[8:10]
# create a datetime column based on the year, month, and day columns
RegSeasonPlayerStats['gameDate'] = pd.to_datetime(RegSeasonPlayerStats['year'] + '-' + RegSeasonPlayerStats['month'] + '-' + RegSeasonPlayerStats['day'])

RegSeasonPlayerStats["fullName"] = RegSeasonPlayerStats["firstName"] + " " + RegSeasonPlayerStats["lastName"]

# Create a season column based on the year and month
RegSeasonPlayerStats['season'] = RegSeasonPlayerStats.apply(lambda row: f"{row['year']}-{int(row['year']) + 1}" if row['month'] >= '10' else f"{int(row['year']) - 1}-{row['year']}", axis=1)
RegSeasonPlayerStats['season'].value_counts(dropna=False)

C:\Users\nmall\AppData\Local\Temp\ipykernel_31520\1207554893.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  RegSeasonPlayerStats['month'] = RegSeasonPlayerStats['gameDateTimeEst'].str[5:7]
C:\Users\nmall\AppData\Local\Temp\ipykernel_31520\1207554893.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  RegSeasonPlayerStats['year'] = RegSeasonPlayerStats['gameDateTimeEst'].str[0:4]
C:\Users\nmall\AppData\Local\Temp\ipykernel_31520\1207554893.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  RegSeasonPlayerStats['day'] = RegSeasonPlayerStats['gameDateTimeEst'].str[8:10]
C:\Users\nmall\AppData\Local\Temp\ipykernel_31520\1207554893.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  RegSeasonPlayerStats['gameDate'] = pd.to_datetime(RegSeasonPlayerStats['year'] + '-' + RegSeasonPlayerStats['month'] + '-' + RegSeasonPlayerStats['day'])
C:\Users\nmall\AppData\Local\Temp\ipykernel_31520\1207554893.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  RegSeasonPlayerStats["fullName"] = RegSeasonPlayerStats["firstName"] + " " + RegSeasonPlayerStats["lastName"]
C:\Users\nmall\AppData\Local\Temp\ipykernel_31520\1207554893.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  RegSeasonPlayerStats['season'] = RegSeasonPlayerStats.apply(lambda row: f"{row['year']}-{int(row['year']) + 1}" if row['month'] >= '10' else f"{int(row['year']) - 1}-{row['year']}", axis=1)

season
2024-2025    32519
2016-2017    31564
2022-2023    31542
2015-2016    31423
2014-2015    31412
             ...
1950-1951     3726
1949-1950     2464
1948-1949     1609
1947-1948      458
1946-1947      357
Name: count, Length: 80, dtype: int64

In [47]:
# Aggregate the data by season, player, and total games played, points scored, and points per game
season_player_stats = RegSeasonPlayerStats.groupby(['season', 'personId']).agg(
    fullName=('fullName', 'first'),
    team=('playerteamName', 'first'),
    total_games_played=('gameId', 'nunique'),
    total_points_scored=('points', 'sum'),
    points_per_game=('points', 'mean')
).reset_index()
season_player_stats.tail(10)

,season,personId,fullName,team,total_games_played,total_points_scored,points_per_game
25422,2025-2026,1642950,Lachlan Olbrich,Bulls,22,17.0,0.772727
25423,2025-2026,1642954,Will Richard,Warriors,52,320.0,6.153846
25424,2025-2026,1642959,Chris Youngblood,Thunder,50,65.0,1.300000
25425,2025-2026,1642962,Drake Powell,Nets,44,236.0,5.363636
25426,2025-2026,1642964,Brooks Barnhizer,Thunder,30,45.0,1.500000
25427,2025-2026,1643007,Taelon Peter,Pacers,33,44.0,1.333333
25428,2025-2026,1643018,LJ Cryer,Warriors,5,6.0,1.200000
25429,2025-2026,1643024,Chris Manon,Lakers,8,0.0,0.000000
25430,2025-2026,1643052,Chaney Johnson,Nets,2,0.0,0.000000
25431,2025-2026,1643141,Jahmyl Telfort,Clippers,13,1.0,0.076923

In [50]:
# create a dataframe of the best scorer for each team for each season
topTeamScorers = season_player_stats.loc[season_player_stats.groupby(['season', 'team'])['points_per_game'].idxmax()]
topTeamScorers.tail(10)

,season,personId,fullName,team,total_games_played,total_points_scored,points_per_game
25160,2025-2026,1630595,Cade Cunningham,Pistons,45,1119.0,24.866667
24970,2025-2026,1627742,Brandon Ingram,Raptors,51,1130.0,22.156863
24891,2025-2026,201142,Kevin Durant,Rockets,47,1224.0,26.042553
25248,2025-2026,1641705,Victor Wembanyama,Spurs,37,894.0,24.162162
24958,2025-2026,1626164,Devin Booker,Suns,41,1043.0,25.439024
25021,2025-2026,1628983,Shai Gilgeous-Alexander,Thunder,49,1558.0,31.795918
25084,2025-2026,1630162,Anthony Edwards,Timberwolves,42,1246.0,29.666667
25087,2025-2026,1630166,Deni Avdija,Trail Blazers,51,1121.0,21.980392
24902,2025-2026,201939,Stephen Curry,Warriors,39,1061.0,27.205128
25313,2025-2026,1642259,Alex Sarr,Wizards,41,692.0,16.878049